<h1>Here is a list of all our users</h1>
<% @users.each do |user| %>
  <img src="<%= url_for(user.image) %>" width ="200px" height = "200px" alt="">
  name: <a href= "<%=user_path(user.id)%>"> <%= user.name %></a> <br/>
  posts <%= user.posts_counter %><br>
  <%# <%= link_to "See User Profile", user_path(user.id)%>
<% end %>