<h1>Names of all the posts</h1>
<div>
    <div>
      <img src = <%=@user.photo %> >
    </div>
    <div>
      <h1><%= @user.name %></h1>
      <span><%= @user.posts_counter %> </span>
    </div>
</div>
<% @user.posts.each do |post|  %>
<div>
  <h2><a href= "<%=user_post_path(@user.id,post.id)%>"> <%= post.title %></a></h2> 
  <br/>
    <h4><%= post.text  %> </h4>
    Likes couter: <%= post.likes_counter  %><br/>
    Comments counter <%= post.comment_counter  %>
    <% post.comments.each do |comment| %>
      <div> 
         <%= comment.user.name %>  :  <%= comment.text %>
      </div> 
    <% end %>
  </div>
<% end %>
