<h1>Show spacefic post</h1>
  content: <%= @post.text %><br>
  comments <%= @post.comment_counter %><br>
  likes <%= @post.likes_counter %><br>  

<% @post.comments.each do |comment| %>
<div class="comment-wrapper">
  User Name:    <%= User.find_by(id:comment.user_id).name %> <br>
  Comment:   <%= comment.text %>
  <br>
</div>
<% end %>