<h1>Show spacefic post</h1>
  content: <%= @post.text %><br>
  comments <%= @post.comment_counter %><br>
  likes <%= @post.likes_counter %><br>  

<% @comments.each do |comment| %>
<div class="comment-wrapper">
  User Name:    <%= comment.user.name %> <br>
  Comment:   <%= comment.text %>
  <br>
</div>
<% end %>